body {
  margin-top: -60px;
}

nav {
  display: flex;
  justify-content: flex-start;
  background-color: var(--avocado);
}

.nav-link {
  display: block;
  padding: 1em;
  margin: 1em;
  color: whitesmoke;
  font-weight: bolder;
  text-decoration: none;
}

#app {
  margin-top: 60px;
}
